#contents{
	margin-top: 40px;
}
.title{
	margin:15px;
	font-size: 40px;
}
.main img{
	width:100%;

}
.subx{
	float:left;
	width:50%;
}
.subx img{
	width:100%;
	float:left;
}
.price{
	padding-top:200px;
	font-size: 40px;
	color:#008000;
	padding:50px;
	padding-top:50px;
}
.buyNow{
	margin-top:100px;
	padding:50px;
	text-decoration: none;
}
#name{
	margin-left:130px;
	color:#008000;
	font-size: 40px;
}
#price{
	font-size: 35px;
}
#payAcc{
	width:80px;
	height:40px;
	border-radius:10px;
	background-color: #008000;
	color:#FFFFFF;
}